/* Main page styling */

/* Style for centering search box only */
.search-box-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* TokenList.css */
.token-list-container {
  width: 80%;
  max-width: 1000px;
  min-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.token-table-head {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color: #f0f2f5;
}

.token-head-cell {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.token-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 6px;
  color: #333; /* 调整文字颜色为深灰，以提高可读性 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

.token-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.token-section {
  flex: 1;
  text-align: center;
}